*{
    box-sizing: border-box;
}

body{
    border: 8px solid black;
    font-family:Arial, Helvetica, sans-serif
    justify-content: center;
    background-color: rgb(123	137	120	)
    
}

div{
    border: 8px solid pink;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#image{
display: flex;
max-width: 500px;
max-height: 400px;

}

p{
    font-size: larger;
}



/* Buttons */

.choice {
    /* border: 10px solid purple; */
    display: flex;
    flex-direction: row;
}

#b1,#b2,#b3,#b4{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav {

}