@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap');


*{
    box-sizing: border-box;
}

#title{
    display:flex;
    justify-content: center;
    font-size: 40px;
}

body{
    border: 8px solid rgb(34,50,28);
    font-family:"Delius Swash Caps", sans-serif;
    justify-content: center;
    background-color: rgb(123, 137, 120	)
    
}

div{
    border: 8px inset rgb(34,50,28);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#image{
display: flex;
max-width:100% ;
max-height: 400px;

}

p{
    font-size: larger;
}

/* Buttons */

button{
    display:flex;
    background-color: rgb(160,190,166);
    font-family:"Delius Swash Caps", sans-serif;
    width:150px;
    height:50px;
    justify-content: center;
    
}
#choice {
    display: flex;
    flex-direction: row;
    gap:20px;
}


.choice{
    display:flex;
    justify-content: center;
    align-items: center;
    }
    
    .nav {
        display:flex;
    justify-content: center;
    align-items: center;
    }
